---
import { getAllTags } from "@/utils/getAllTags";

const tags = await getAllTags();
---

<div class="flex items-center gap-5">
  {
    tags.map((tag) => (
      <a href={`/blog/tag/${tag.toLowerCase()}`}>
        <span class="border-extra-soft-white mt-4 self-start rounded border px-2 py-1 text-zinc-400">
          {tag}
        </span>
      </a>
    ))
  }
</div>
