---
import TagSelector from "@/components/TagSelector.astro";
import MainLayout from "./MainLayout.astro";
import Article from "@/components/Article.astro";
---

<MainLayout title="Blog">
    <div class="max-w-article-size mx-auto w-full">
      <TagSelector />
      <section class="mt-6 w-full">
        <ul class="space-y-8">
          <slot />
        </ul>
      </section>
    </div>
  </MainLayout>
  