<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Astro</title>
  </head>
  <body>
    <div>
      <main>
        <slot />
      </main>
      <footer></footer>
    </div>
  </body>
</html>
