---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <BaseHead title={title} />

  <body class="bg-dark-blue">
    <div>
      <main>
        <slot />
      </main>
      <footer></footer>
    </div>
  </body>
</html>
